.no-header-dialog .el-dialog__header {
    display: none;
}

.el-dialog__wrapper {
    .el-dialog {
        border-radius: 10px;
    }
}

.el-dialog .el-dialog__body {
    padding: 0;
    width: 100%;
    height: 100%;
}
